// Declare your book-specific style overrides in this file.
//
// For example:
//
// .container {
//   color: mediumvioletred;
// }

// Bordify images
main.content {
	img {
	    outline: 1px solid black;
	    outline-offset: -1px;

	}
	.title-container img {
	    outline: 0px;
	   	outline-offset: 0px;
	}
	.no-border {
		outline: none;
		outline-offset: 0;
		border: none;
	}
}

body.__index img {
	outline: 0px;
	outline-offset: 0px;
}

.note.warning {
  background-color: #fdd;
  border-color: #fbb
}

.note.warning:before {
  color: #f99;
}