// Declare your book-specific style overrides in this file.
//
// For example:
//
// .container {
//   color: mediumvioletred;
// }


// Bordify images
main.content {
	img {
	    outline: 1px solid black;
	    outline-offset: -1px;
	    main.content .title-container img {
	    	outline: 0px;
	    	outline-offset: 0px;
	    }
	}
	.no-border {
		outline: none;
		outline-offset: 0;
		border: none;
	}
}

.note.warning {
  background-color: #fdd;
  border-color: #fbb
}

.note.warning:before {
  color: #f99;
}