
<% if product_info['local_header_title'] == "Push Notification Service" %> 
<p class="note warning"><strong>Warning:</strong> <%= product_info['local_header_title'] %> is no longer supported 
because it has reached the End of General Support (EOGS) phase as defined by the 
<a href="https://pivotal.io/support/lifecycle_policy">Support Lifecycle Policy</a>.
</p>

<% end %>