<div id="sub-nav" class="js-sidenav nav-container" role="navigation">
  <a class="sidenav-title" data-behavior="SubMenuMobile">
    Dingo PostgreSQL™ docs
  </a>
  <div class="nav-content">
    <ul class="menu">
      <li class="menu-item js-menu-item">
        <div class="menu-title js-menu-title">
          Dingo PostgreSQL™ for Pivotal Cloud Foundry&reg;
        </div>
        <div class="menu-content js-menu-content" aria-hidden="true">
          <ul>
            <li class="menu-link">
              <a href="/dingo-postgresql/contact.html">Contact Us</a>
            </li>
            <li class="menu-link">
              <a href="/dingo-postgresql/release-notes.html">Release Notes</a>
            </li>
            <li class="menu-link">
              <a href="/dingo-postgresql/known-issues.html">Known Issues</a>
            </li>
          </ul>
        </div>
      </li>
      <li class="menu-item js-menu-item">
        <div class="menu-title js-menu-title">
          General Information
        </div>
        <div class="menu-content js-menu-content" aria-hidden="true">
          <ul>
            <li class="menu-link">
              <a href="/dingo-postgresql/">Why Dingo PostgreSQL™?</a>
            </li>
            <li class="menu-link">
              <a href="http://www.postgresql.org/about/">Why PostgreSQL?</a>
            </li>
            <li class="menu-link">
              <a href="/dingo-postgresql/disaster-recovery.html">Recovering from disasters</a>
            </li>
          </ul>
        </div>
      </li>
      <li class="menu-item js-menu-item">
        <div class="menu-title js-menu-title">
          Usage
        </div>
        <div class="menu-content js-menu-content" aria-hidden="true">
          <ul>
            <li class="menu-link">
              <a href="/dingo-postgresql/usage-provision.html">Provision &amp; bind new database</a>
            </li>
            <li class="menu-link">
              <a href="/dingo-postgresql/usage-delete.html">Revoke access &amp; destroy database</a>
            </li>
            <li class="menu-link">
              <a href="/dingo-postgresql/usage-gui.html">Install Admin GUI</a>
            </li>
            <li class="menu-link">
              <a href="/dingo-postgresql/usage-import-sql-backup.html">Import existing SQL database backup</a>
            </li>
            <li class="menu-link">
              <a href="/dingo-postgresql/lang-examples.html">Language examples</a>
            </li>
            <li class="menu-link">
              <a href="/dingo-postgresql/usage-postgis.html">Using PostGIS</a>
            </li>
          </ul>
        </div>
      </li>
      <li class="menu-item js-menu-item">
        <div class="menu-title js-menu-title">
          Administration
        </div>
        <div class="menu-content js-menu-content" aria-hidden="true">
          <ul>
            <li class="menu-link">
              <a href="/dingo-postgresql/download.html">Download</a>
            </li>
            <li class="menu-link">
              <a href="/dingo-postgresql/installation.html">Installation</a>
            </li>
            <li class="menu-link">
              <a href="/dingo-postgresql/admin.html">Administration</a>
            </li>
          </ul>
        </div>
      </li>
      <li class="menu-item js-menu-item">
        <div class="menu-title js-menu-title">
          Recovery
        </div>
        <div class="menu-content js-menu-content" aria-hidden="true">
          <ul>
            <li class="menu-link">
              <a href="/dingo-postgresql/recover-user-deleted-service.html">Recover a deleted service</a>
            </li>
          </ul>
        </div>
      </li>
    </ul>
  </div>
</div>
<!--end of sub-nav-->