<div id="sub-nav" class="js-sidenav nav-container" role="navigation">
  <a class="sidenav-title" data-behavior="SubMenuMobile">
    Doc Index
  </a>
  <div class="nav-content">
    <ul>
      <li>
        <a id='home-nav-link' href="/addon-ipsec/index.html">Pivotal Cloud Foundry&reg; IPsec</a>
      </li>

      <li>
        <a href="/addon-ipsec/installing.html">Installing IPsec</a>
      </li>

      <li>
        <a href="/addon-ipsec/troubleshooting.html">Troubleshooting IPsec</a>
      </li>

      <li>
        <a href="/addon-ipsec/credentials.html">Rotating IPsec Credentials</a>
      </li>

    </ul>
  </div>
</div><!--end of sub-nav-->
