<div id="sub-nav" class="js-sidenav nav-container" role="navigation">
  <a class="sidenav-title" data-behavior="SubMenuMobile">
    Doc Index
  </a>
  <div class="nav-content">
    <ul>
      <li>
        <a id='home-nav-link' href="custom-banner/index.html">Pivotal Cloud Foundry&reg;</a>
      </li>

      <li>
        <a href="custom-banner/index.html">Custom SSH Login Banner Add-on</a>
      </li>

      <li>
        <a href="syslog-forwarding/index.html">Syslog Forwarding Add-on</a>
      </li>

    </ul>
  </div>
</div><!--end of sub-nav-->
