<div id="sub-nav" class="deepnav-content js-deep-nav js-sidenav nav-container">
 <a class="sidenav-title" data-behavior="SubMenuMobile">
  Doc Index
 </a>

<div class="nav-content">
  <ul class="menu">
   <li><span class="topic"><a href="/gemfire-cf/index.html">GemFire for Pivotal Cloud Foundry&reg;</a></span></li>
   <li>
      <span class="hasSubMenuClosed" data-behavior="HasSubMenu"><a href="/gemfire-cf/relnotes.html">Release Notes</a></span>
      <ul>
        <li><span class="topic"><a href="/gemfire-cf/relnotes.html#v1220">GemFire for Pivotal Cloud Foundry&reg; v1.2.2.0</a></span></li>
        <li><span class="topic"><a href="/gemfire-cf/relnotes.html#v1210">GemFire for Pivotal Cloud Foundry&reg; v1.2.1.0</a></span></li>
        <li><span class="topic"><a href="/gemfire-cf/relnotes.html#v1200">GemFire for Pivotal Cloud Foundry&reg; v1.2.0.0</a></span></li>
        <li><span class="topic"><a href="/gemfire-cf/relnotes.html#v1110">GemFire for Pivotal Cloud Foundry&reg; v1.1.1.0</a></span></li>
        <li><span class="topic"><a href="/gemfire-cf/relnotes.html#v1100">GemFire for Pivotal Cloud Foundry&reg; v1.1.0.0</a></span></li>
        <li><span class="topic"><a href="/gemfire-cf/relnotes.html#v1000">GemFire for Pivotal Cloud Foundry&reg; v1.0.0.0</a></span></li>
      </ul>
   </li>

   <li>
      <span class="hasSubMenuClosed" data-behavior="HasSubMenu"><a href="/gemfire-cf/overview.html">Overview</a></span>
      <ul>
        <li>
        <span class="topic"><a href="/gemfire-cf/overview.html#how_it_works">How Does the Service Work?</a></span>
        </li>
      </ul>
   </li>

   <li>
      <span class="hasSubMenuClosed" data-behavior="HasSubMenu"><a href="/gemfire-cf/installing.html">Installing GemFire for Pivotal Cloud Foundry&reg;</a></span>
         <ul>
              <li><span class="topic"><a href="/gemfire-cf/installing.html#prereq">Prerequisites</a></span></li>
            <li><span class="topic"><a href="/gemfire-cf/installing.html#service_defaults">Service Configuration Defaults</a></span></li>
              <li><span class="topic"><a href="/gemfire-cf/installing.html#install">Installation Steps</a></span></li>
              <li><span class="topic"><a href="/gemfire-cf/installing.html#configure">Creating GemFire Service Plans</a></span></li>
        </ul>
    </li>

    <li><span class="hasSubMenuClosed" data-behavior="HasSubMenu"><a href="/gemfire-cf/using_the_data_service.html">Using GemFire for Pivotal Cloud Foundry&reg;</a></span>
       <ul>
          <li><span class="topic"><a href="/gemfire-cf/using_the_data_service.html#creating_service_instance">Creating a GemFire Service Plan Instance</a></span>
          <li><span class="topic"><a href="/gemfire-cf/using_the_data_service.html#configuring_service_instance">Configuring a GemFire Service Instance</a></span>
          <li><span class="topic"><a href="/gemfire-cf/using_the_data_service.html#working_with_service_instance">Working with a GemFire Service Instance</a></span>
          <li><span class="topic"><a href="/gemfire-cf/using_the_data_service.html#connect_client">Accessing GemFire Service Connection Information (Binding)</a></span>
          </li>
         <li><span class="topic"><a href="/gemfire-cf/using_the_data_service.html#deploy_applications">Deploying Applications for Use with the GemFire Service</a></span>
          </li>
        <li><span class="topic"><a href="/gemfire-cf/using_the_data_service.html#binding_service">Binding an Application to the GemFire Service</a></span>
          </li>
          <li><span class="topic"><a href="/gemfire-cf/using_the_data_service.html#pushing_apps">Pushing or Restaging Applications After Service Changes</a></span>
          </li>
        <li><span class="topic"><a href="/gemfire-cf/using_the_data_service.html#viewing_metadata">Viewing Binding Meta Data and Environment Variables</a></span>
        </li>
        <li><span class="topic"><a href="/gemfire-cf/using_the_data_service.html#unbinding">Unbinding an Application from the GemFire Service</a></span>
        </li>
        <li><span class="topic"><a href="/gemfire-cf/using_the_data_service.html#deleting_instance">Deleting a GemFire Service Instance</a></span>
        </li>
       </ul>
    </li>
    <li><span class="hasSubMenuClosed" data-behavior="HasSubMenu"><a href="/gemfire-cf/gfe-cli.html">Using the GemFire for Cloud Foundry CLI Plug-in</a></span>
       <ul>
          <li><span class="topic"><a href="/gemfire-cf/gfe-cli.html#install">Installation</a></span>
          </li>
          <li><span class="topic"><a href="/gemfire-cf/gfe-cli.html#overview">Overview</a></span>
          </li>
          <li><span class="topic"><a href="/gemfire-cf/gfe-cli.html#export">export-gemfire</a></span>
          </li>
          <li><span class="topic"><a href="/gemfire-cf/gfe-cli.html#restart">restart-gemfire</a></span>
          </li>
          <li><span class="topic"><a href="/gemfire-cf/gfe-cli.html#gfsh">show-gfsh</a></span>
          </li>
       </ul>
    </li>
    <li><span class="topic"><a href="/gemfire-cf/troubleshooting.html">Troubleshooting</a></span></li>


  </ul>
  </div>
</div><!--end of sub-nav-->
