<div id="sub-nav" class="js-sidenav nav-container" role="navigation">
  <a class="sidenav-title" data-behavior="SubMenuMobile">
    Doc Index
  </a>
  <div class="nav-content">
    <ul>
      <li>
        <a id='home-nav-link' href="/gemfire-cf/index.html">GemFire for Pivotal Cloud Foundry&reg;</a>
      </li>

      <li>
        <a href="/gemfire-cf/relnotes.html">Release Notes for GemFire for Pivotal Cloud Foundry&reg;</a>
      </li>
      <li class="has_submenu">
        <a href="/gemfire-cf/overview.html">Overview</a>
        <ul>
          <li>
            <a href="/gemfire-cf/overview.html#how_it_works">How Does the Service Work?</a>
          </li>
        </ul>
      </li>

      <li class="has_submenu">
        <a href="/gemfire-cf/installing.html">Installing GemFire for Pivotal Cloud Foundry&reg;</a>
        <ul>
          <li>
            <a href="/gemfire-cf/installing.html#prereq">Prerequisites</a>
          </li>
          <li>
            <a href="/gemfire-cf/installing.html#service_defaults">Service Configuration Defaults</a>
          </li>
          <li>
            <a href="/gemfire-cf/installing.html#install">Installation Steps</a>
          </li>
          <li>
            <a href="/gemfire-cf/installing.html#self-signed">Self-Signed SSL Certificates</a>
          </li>

          <li>
            <a href="/gemfire-cf/installing.html#configure">Creating GemFire Service Plans</a>
          </li>
        </ul>
      </li>

      <li class="has_submenu">
        <a href="/gemfire-cf/using_the_data_service.html">Using GemFire for Pivotal Cloud Foundry&reg;</a>
        <ul>
          <li>
            <a href="/gemfire-cf/using_the_data_service.html#creating_service_instance">Creating a GemFire Service Plan Instance</a>
          </li>
          <li>
            <a href="/gemfire-cf/using_the_data_service.html#configuring_service_instance">Configuring a GemFire Service Instance</a>
          </li>
          <li>
            <a href="/gemfire-cf/using_the_data_service.html#working_with_service_instance">Working with a GemFire Service Instance</a>
          </li>
          <li>
            <a href="/gemfire-cf/using_the_data_service.html#connect_client">Accessing GemFire Service Connection Information (Binding)</a>
          </li>

          <li>
            <a href="/gemfire-cf/using_the_data_service.html#deploy_applications">Deploying Applications for Use with the GemFire Service</a>
          </li>

          <li>
            <a href="/gemfire-cf/using_the_data_service.html#binding_service">Binding an Application to the GemFire Service</a>
          </li>
          <li>
            <a href="/gemfire-cf/using_the_data_service.html#pushing_apps">Pushing or Restaging Applications After Service Changes</a>
          </li>
          <li>
            <a href="/gemfire-cf/using_the_data_service.html#viewing_metadata">Viewing Binding Meta Data and Environment Variables</a>
          </li>
          <li>
            <a href="/gemfire-cf/using_the_data_service.html#unbinding">Unbinding an Application from the GemFire Service</a>
          </li>
          <li>
            <a href="/gemfire-cf/using_the_data_service.html#deleting_instance">Deleting a GemFire Service Instance</a>
          </li>

        </ul>
      </li>

      <li class="has_submenu">
        <a href="/gemfire-cf/gfe-cli.html">Using the GemFire for Cloud Foundry CLI Plug-in</a>
        <ul>
          <li>
            <a href="/gemfire-cf/gfe-cli.html#install">Installation</a>
          </li>
          <li>
            <a href="/gemfire-cf/gfe-cli.html#overview">Overview</a>
          </li>
          <li>
            <a href="/gemfire-cf/gfe-cli.html#export">export-gemfire</a>
          </li>
          <li>
            <a href="/gemfire-cf/gfe-cli.html#restart">restart-gemfire</a>
          </li>
          <li>
            <a href="/gemfire-cf/gfe-cli.html#gfsh">show-gfsh</a>
          </li>
          <li>
            <a href="/gemfire-cf/gfe-cli.html#wan">show-wan-config-url</a>
          </li>
        </ul>
      </li>

      <li>
        <a href="/gemfire-cf/troubleshooting.html">Troubleshooting</a>
      </li>

    </ul>
  </div>
</div><!--end of sub-nav-->
