<div id="sub-nav" class="js-sidenav nav-container" role="navigation">
  <a class="sidenav-title" data-behavior="SubMenuMobile">
    P-MySQL Documentation
  </a>
  <div class="nav-content">
    <ul>


      <li class="has_submenu expanded">
        <a href="index.html">MySQL for PCF</a>
        <ul>
          <li>
            <a href="release-notes.html">Release Notes</a>
          </li>
          <li>
            <a href="architecture.html">Architecture</a>
          </li>
          <li>
            <a href="known-issues.html">Known Issues</a>
          </li>
        </ul>
      </li>

      <li class="has_submenu expanded">
        <a>Operator Guide</a>
        <ul>
          <li>
            <a href="installing.html">Installing MySQL for PCF</a>
          </li>
          <li>
            <a href="configuring.html">Configuring MySQL for PCF</a>
          </li>
          <li>
            <a href="service-plan.html">Service Plans</a>
          </li>
          <li>
            <a href="proxy.html">MySQL Proxy</a>
          </li>
          <li>
            <a href="backup.html">Backups</a>
          </li>
          <li>
            <a href="app-security-groups.html">Application Security Groups</a>
          </li>
          <li>
            <a href="monitoring-mysql.html">Monitoring</a>
          </li>
          <li>
            <a href="troubleshooting.html">Troubleshooting</a>
          </li>
          <li>
            <a href="bootstrapping.html">Bootstrapping</a>
          </li>
          <li>
            <a href="/p-mysql/1-8/credential-rotation.html">Rotating Credentials</a>
          </li>
          <li>
            <a href="/p-mysql/1-8/scaling-down.html">Scaling Down</a>
          </li>
        </ul>
      </li>

      <li class="has_submenu expanded">
        <a>Application Developer Guide</a>
        <ul>
          <li>
            <a href="getting-started.html">Getting Started</a>
          </li>
          <li>
            <a href="rsu.html">When/How to RSU</a>
          </li>
        </ul>
      </li>
    </ul>
  </div>
</div>
<!--end of sub-nav-->
