<div id="sub-nav" class="js-sidenav nav-container" role="navigation">
  <a class="sidenav-title" data-behavior="SubMenuMobile">
    P-MySQL Documentation
  </a>
  <div class="nav-content">
    <ul class="menu">
      <li class="menu-item js-menu-item">
        <div class="menu-title js-menu-title">
          MySQL for Pivotal Cloud Foundry
        </div>
        <div class="menu-content js-menu-content" aria-hidden="true">
          <ul>
	  <li class="menu-link">
	  <a href="index.html">
	    MySQL for Pivotal Cloud Foundry
   	   </a>
           </li>
	    <li class="menu-link">
              <a href="/p-mysql/1-7/release-notes.html">
                Release Notes
              </a>
            </li>
            <li class="menu-link">
              <a href="/p-mysql/1-7/known-issues.html">
                Known Issues
              </a>
            </li>
            <li class="menu-link">
              <a href="/p-mysql/1-7/mysql-faq.html">
                Frequently Asked Questions
              </a>
            </li>
          </ul>
        </div>
      </li>
      <li class="menu-item js-menu-item">
        <div class="menu-title js-menu-title">
          General Information
        </div>
        <div class="menu-content js-menu-content" aria-hidden="true">
          <ul>
            <li class="menu-link">
              <a href="/p-mysql/1-7/cluster-behavior.html">
                Cluster Scaling, Node Failure, and Quorum
              </a>
            </li>
            <li class="menu-link">
              <a href="/p-mysql/1-7/cluster-config.html">
                MySQL Configuration
              </a>
            </li>
            <li class="menu-link">
              <a href="/p-mysql/1-7/proxy.html">
                MySQL Proxy
              </a>
            </li>
        </div>
      </li>
      <li class="menu-item js-menu-item">
        <div class="menu-title js-menu-title">
          Administration & Troubleshooting
        </div>
        <div class="menu-content js-menu-content" aria-hidden="true">
          <ul>
             <li class="menu-link">
              <a href="/p-mysql/1-7/app-security-groups.html">
                Creating Application Security Groups for MySQL
              </a>
            </li>
            <li class="menu-link">
              <a href="/p-mysql/1-7/monitoring-mysql.html">
                Monitoring MySQL
              </a>
            </li>
            <li class="menu-link">
              <a href="/p-mysql/1-7/cluster-state.html">
                Determining Cluster State
              </a>
            </li>
            <li class="menu-link">
              <a href="/p-mysql/1-7/bootstrapping.html">
                Bootstrapping a Cluster
              </a>
            </li>
            <li class="menu-link">
              <a href="/p-mysql/1-7/backup.html">
                Backing Up MySQL
              </a>
            </li>
            <li class="menu-link">
              <a href="/p-mysql/1-7/scaling-down.html">
                Scaling Down MySQL
              </a>
            </li>
            <li class="menu-link">
              <a href="/p-mysql/1-7/credential-rotation.html">
                Rotating MySQL for PCF Credentials
              </a>
            </li>
        </div>
      </li>
    </ul>
  </div>
</div>
<!--end of sub-nav-->
