<div id="sub-nav" class="js-sidenav nav-container" role="navigation">
  <a class="sidenav-title" data-behavior="SubMenuMobile">
    Doc Index
  </a>

  <div class="nav-content">
    <ul>
      
      <li class="has_submenu expanded">
        <a>Pivotal Scheduler</a>
        <ul>
          <li> 
            <a id='home-nav-link' href="/scheduler/1-2/index.html">Pivotal Scheduler</a>
          </li>
          <li>
            <a href="/scheduler/1-2/release-notes.html">Release Notes</a>
          </li>
          <li>
            <a href="/scheduler/1-2/architecture.html">Architecture</a>
          </li>
        </ul>
      </li>

      <li class="has_submenu expanded">
        <a>Operator Guide</a>
        <ul>
          <li>
            <a href="/scheduler/1-2/installing.html">Installing and Configuring Pivotal Scheduler</a>
          </li>
          <li>
            <a href="/scheduler/1-2/upgrade_scheduler.html">Upgrading to Pivotal Scheduler v1.2</a>
          </li>
          <li>
            <a href="/scheduler/1-2/monitoring.html">Monitoring and Troubleshooting</a>
          </li>
        </ul>
      </li>

      <li class="has_submenu expanded">
        <a>User Guide</a>
        <ul>
          <li>
            <a href="/scheduler/1-2/using.html">Using Pivotal Scheduler</a>
            <ul>
              <li>
                <a href="/scheduler/1-2/using-jobs.html">Scheduling Jobs</a>
              </li>
              <li>
                <a href="/scheduler/1-2/using-calls.html">Scheduling Calls</a>
              </li>
              <li>
                <a href="/scheduler/1-2/syntax.html"></a>
              </li>
            </ul>
          </li>
        </ul>
      </li>
    </ul>
  </div>
</div><!--end of sub-nav-->
