<div id="sub-nav" class="js-sidenav nav-container" role="navigation">
  <a class="sidenav-title" data-behavior="SubMenuMobile">
    Doc Index
  </a>
  <div class="nav-content">
    <ul>


      <li class="has_submenu expanded">
        <a href="/redis/1-6/index.html">About Redis for PCF</a>
        <ul>
          <li>
            <a href="/redis/1-6/minor-overview.html">Overview of Redis for PCF v.1.6</a>
          </li>
          <li>
            <a href="/redis/1-6/release.html">Release Notes</a>
          </li>
          <li>
            <a href="/redis/1-6/architecture.html#config">How Redis for PCF Configures Redis</a>
          </li>
          <li>
            <a href="/redis/1-6/architecture.html#plans">Service Plans</a>
          </li>
          <li>
            <a href="/redis/1-6/architecture.html#architecture">Architecture</a>
          </li>
          <li>
            <a href="/redis/1-6/architecture.html#lifecycle">Lifecycle</a>
          </li>
          <li>
            <a href="/redis/1-6/recommended.html">Recommended Usage and Limitations</a>
          </li>
          <li>
            <a href="/redis/1-6/security.html">Security</a>
          </li>
        </ul>
      </li>

      <li class="has_submenu expanded">
        <a href="/redis/1-6/maintain.html">Operator Guide</a>
        <ul>
          <li>
            <a href="/redis/1-6/installing.html">Installing Redis</a>
          </li>
          <li>
            <a href="/redis/1-6/installing.html#service-plans">Configuring Service Plans</a>
          </li>
          <li>
            <a href="/redis/1-6/installing.html#syslog">Configuring Syslog Output</a>
          </li>
          <li>
            <a href="/redis/1-6/installing.html#backup">Configuring Automated Backups</a>
          </li>
          <li>
            <a href="/redis/1-6/installing.html#azs">Networks, Security, and Assigning AZs</a>
          </li>          
          <li>
            <a href="/redis/1-6/installing.html#validation">Validating Install with Smoke Tests</a>
          </li>
          <li>
            <a href="/redis/1-6/manual-br.html#create">Creating Manual Backups</a>
          </li>
          <li>
            <a href="/redis/1-6/manual-br.html#restore">Restoring from Backups</a>
          </li>
          <li>
            <a href="/redis/1-6/monitoring.html">Monitoring and Metrics</a>
          </li>
          <li>
            <a href="/redis/1-6/installing.html#upgrades">Upgrading Redis for PCF</a>
          </li>
          <li>
            <a href="/redis/1-6/installing.html#uninstall">Uninstalling Redis for PCF</a>
          </li>
          <li>
            <a href="/redis/1-6/troubleshooting.html">Troubleshooting</a>
          </li>
        </ul>
      </li>

      <li class="has_submenu expanded">
        <a href="/redis/1-6/appdevs.html">Application Developer Guide</a>
        <ul>
          <li>
            <a href="/redis/1-6/appdevs.html#getting-started">Getting Started</a>
          </li>
          <li>
            <a href="/redis/1-6/architecture.html#service-plans">Service Plans</a>
          </li>
          <li>
            <a href="/redis/1-6/using.html#create">Creating a Redis Service Instance</a>
          </li>
          <li>
            <a href="/redis/1-6/using.html#bind">Binding an App to a Service Instance</a>
          </li>
          <li>
            <a href="/redis/1-6/using.html#delete">Deleting a Service Instance</a>
          </li>
          <li>
            <a href="/redis/1-6/recommended.html">Recommended Usage and Limitations</a>
          </li>
          <li>
            <a href="/redis/1-6/redisconf.html">Sample Redis Configuration</a>
          </li>
        </ul>
      </li>
    </ul>
  </div>
</div><!--end of sub-nav-->




