<div id="sub-nav" class="js-sidenav collapsible nav-container" role="navigation" data-behavior="Collapsible">
  <a class="sidenav-title" data-behavior="SubMenuMobile">
    Doc Index
  </a>
  <div class="nav-content">
    <ul class="menu">
      <li class="menu-item js-menu-item">
        <div class="menu-title js-menu-title">
          Single Sign-On for Pivotal Cloud Foundry
        </div>
        <div class="menu-content js-menu-content" aria-hidden="true">
          <ul>
            <li class="menu-link">
              <a href="/p-identity/index.html"> Overview </a>
            </li>
            <li class="menu-link">
              <a href="/p-identity/installation.html"> Installation </a>
            </li>
           <li class="menu-link">
              <a href="/p-identity/getting-started.html"> Getting Started with Single Sign-On</a>
              <a href="/p-identity/manage-service-plans.html">Manage Service Plans </a>
          </li>
         <li class="menu-link">
              <a href="/p-identity/manage-service-instances.html">Manage Service Instances </a>
          </li>
           <li class="menu-link">
              <a href="/p-identity/configure-id-providers.html">Configure Identity Providers </a>
          </li>
           <li class="menu-link">
          <a href="/p-identity/bind-apps.html">Bind or Register Applications </a>
          </li>
           <li class="menu-link">
          <a href="/p-identity/manage-resources.html">Manage Resources </a>
          </li>
          </ul>
        </div>
      </li>
      <li class="menu-item js-menu-item">
        <div class="menu-title js-menu-title">
          Integration Guides
        </div>
        <div class="menu-content js-menu-content" aria-hidden="true">
           <div class="menu-subtitle">
           Okta Integration Guide
          </div>
          <ul>
            <li class="menu-link">
            <a href="/p-identity/okta/index.html"> Overview </a>
            </li>
            <li class="menu-link">
              <a href="/p-identity/okta/config-okta.html"> Configure Okta as an Identity Provider </a>
            </li>
              <li class="menu-link">
              <a href="/p-identity/okta/config-sso.html"> Configure a Single Sign-On Service Provider </a>
            </li>
            <li class="menu-link">
              <a href="/p-identity/okta/testing.html"> Testing </a>
            </li>
            <li class="menu-link">
              <a href="/p-identity/okta/troubleshooting.html"> Troubleshooting </a>
            </li>
  
          </ul>
<!--           <div class="menu-subtitle">
           CA Single Sign-On Integration Guide
          </div>
          <ul>
          <li class="menu-link">
            </li>
           </ul> -->
        </div>
      </li>
        <li class="menu-item js-menu-item">
        <div class="menu-title js-menu-title">
          Additional Information
        </div>
        <div class="menu-content js-menu-content" aria-hidden="true">
          <ul>
            <li class="menu-link">
            <a href="/p-identity/release-notes.html"> Release Notes </a>
            </li>
<!--             <li class="menu-link">
              <a href="/p-identity/sso-faq.html"> FAQ </a>
            </li> -->
          </ul>
          
        </div>
      </li>

  </li>
  </ul>
</div>
</div>
