<div id="sub-nav" class="js-sidenav nav-container" role="navigation">
  <a class="sidenav-title" data-behavior="SubMenuMobile">
    Doc Index
  </a>
  <div class="nav-content">
    <ul>
      <li>
        <a id='home-nav-link' href="/cassandra/index.html">DataStax Enterprise for Pivotal Cloud Foundry</a>
      </li>

      <li>
        <a href="/cassandra/releases.html">Release Notes</a>
      </li>

      <li>
        <a href="/cassandra/resources.html">Resource Requirements</a>
      </li>

      <li class="has_submenu">
        <a href="">Service Plans</a>
        <ul>
          <li>
            <a href="/cassandra/development.html">Development Plan</a>
          </li>
        </ul>
      </li>

    </ul>
  </div>
</div><!--end of sub-nav-->
