<div id="sub-nav" class="js-sidenav nav-container" role="navigation">
  <a class="sidenav-title" data-behavior="SubMenuMobile">
    Doc Index
  </a>
  <div class="nav-content">
    <ul>
      <li>
        <a id='home-nav-link' href="/p-identity/index.html">Single Sign-On for Pivotal Cloud Foundry</a>
      </li>

      <li>
        <a href="/p-identity/installation.html">Installation</a>
      </li>
      <li>
        <a href="/p-identity/getting-started.html">Getting Started with Single Sign-On</a>
      </li>
      <li>
        <a href="/p-identity/manage-service-plans.html">Manage Service Plans</a>
      </li>
      <li>
        <a href="/p-identity/manage-service-instances.html">Manage Service Instances</a>
      </li>
      <li>
        <a href="/p-identity/configure-id-providers.html">Configure Identity Providers</a>
      </li>
      <li>
        <a href="/p-identity/bind-apps.html">Bind or Register Applications</a>
      </li>
      <li>
        <a href="/p-identity/manage-resources.html">Manage Resources</a>
      </li>

      <li class="has_submenu">
        <a href="/p-identity/okta/index.html">Okta Integration Guide</a>
        <ul>
          <li>
            <a href="/p-identity/okta/config-okta.html">Configure Okta as an Identity Provider</a>
          </li>
          <li>
            <a href="/p-identity/okta/config-sso.html">Configure a Single Sign-On Service Provider</a>
          </li>
          <li>
            <a href="/p-identity/okta/testing.html">Testing</a>
          </li>
          <li>
            <a href="/p-identity/okta/troubleshooting.html">Troubleshooting</a>
          </li>
        </ul>
      </li>

      <li class="has_submenu">
        <a href="/p-identity/pingone/index.html">PingOne Cloud Integration Guide</a>
        <ul>
          <li>
            <a href="/p-identity/pingone/config-pingone.html">Configure PingOne Cloud as an Identity Provider</a>
          </li>
          <li>
            <a href="/p-identity/pingone/config-sso.html">Configure a Single Sign-On Service Provider</a>
          </li>
          <li>
            <a href="/p-identity/pingone/testing.html">Testing</a>
          </li>
          <li>
            <a href="/p-identity/pingone/troubleshooting.html">Troubleshooting</a>
          </li>
        </ul>
      </li>

      <li class="has_submenu">
        <a href="/p-identity/pingfederate/index.html">PingFederate Cloud Integration Guide</a>
        <ul>
          <li>
            <a href="/p-identity/pingfederate/config-pingfederate.html">Configure PingFederate Cloud as an Identity Provider</a>
          </li>
          <li>
            <a href="/p-identity/pingfederate/config-sso.html">Configure a Single Sign-On Service Provider</a>
          </li>
          <li>
            <a href="/p-identity/pingfederate/testing.html">Testing</a>
          </li>
          <li>
            <a href="/p-identity/pingfederate/troubleshooting.html">Troubleshooting</a>
          </li>
        </ul>
      </li>
      <li>
        <a href="/p-identity/release-notes.html">Release Notes</a>
      </li>

    </ul>
  </div>
</div><!--end of sub-nav-->
