<div id="sub-nav" class="js-sidenav nav-container" role="navigation">
  <a class="sidenav-title" data-behavior="SubMenuMobile">
    Doc Index
  </a>
  <div class="nav-content">
    <ul>
      <li>
        <a href="/rabbitmq-cf/1-6/index.html">RabbitMQ&reg; for PCF</a>
      </li>

      <li>
        <a href="/rabbitmq-cf/1-6/deploying.html">Deploying</a>
      </li>

      <li>
        <a href="/rabbitmq-cf/1-6/upgrade.html">Upgrades</a>
      <li>
        <a href="/rabbitmq-cf/1-6/updating.html">Updating RabbitMQ for PCF from v1.6.x to v1.6.7</a>
      </li>

      <li>
        <a href="/rabbitmq-cf/1-6/configuring.html">Configuring</a>
      </li>

      <li>
        <a href="/rabbitmq-cf/1-6/policies.html">Policies</a>
      </li>

      <li>
        <a href="/rabbitmq-cf/1-6/partitions.html">Clustering and Network Partitions</a>
      </li>

      <li>
        <a href="/rabbitmq-cf/1-6/managing.html">Managing</a>
      </li>

      <li>
        <a href="/rabbitmq-cf/1-6/metrics_logging.html">Logging, Heartbeats, and Metrics</a>
      </li>

      <li>
        <a href="/rabbitmq-cf/1-6/vcap-services.html">Environment Variables</a>
      </li>

      <li>
        <a href="/rabbitmq-cf/1-7/releases.html">Release Notes</a>
      </li>

      <li>
        <a href="/rabbitmq-cf/1-6/resources.html">Resource Requirements</a>
      </li>

    </ul>
  </div>
</div><!--end of sub-nav-->
