<div id="sub-nav" class="deepnav-content js-deep-nav js-sidenav nav-container" role="navigation">
  <a class="sidenav-title" data-behavior="SubMenuMobile">
    Doc Index
  </a>
  <div class="nav-content">
    <ul class="menu">
      <li>
        <span class="topic">
          <a id='home-nav-link' href="/cassandra/index.html">DataStax Enterprise for Pivotal Cloud Foundry&reg;</a>
        </span>
      </li>

      <li>
        <span>
          <a href="/cassandra/releases.html">Release Notes</a>
        </span>
      </li>

      <li>
        <span>
          <a href="/cassandra/resources.html">Resource Requirements</a>
        </span>
      </li>

      <li>
        <span class="hasSubMenuClosed" data-behavior="HasSubMenu">
          <a href="/cassandra/index.html">Service Plans</a>
        </span>
        <ul>
          <li>
            <span class="topic">
              <a href="/cassandra/development.html">Development Plan</a>
            </span>
          </li>
        </ul>
      </li>

    </ul>
  </div>
</div><!--end of sub-nav-->
