<div id="sub-nav" class="js-sidenav nav-container" role="navigation">
  <a class="sidenav-title" data-behavior="SubMenuMobile">
    Doc Index
  </a>
  <div class="nav-content">
    <ul>
      <li>
        <a id='home-nav-link' href="/jfrog/index.html">JFrog Artifactory for Pivotal Cloud Foundry</a>
      </li>

      <li>
        <a href="/jfrog/install.html">Installation</a>
      </li>

      <li>
        <a href="/jfrog/configuration.html">Configuration Options</a>
      </li>

      <li>
        <a href="/jfrog/docker.html">Docker Registry</a>
      </li>

      <li>
        <a href="/jfrog/upgrade.html">Upgrades</a>
      </li>

      <li>
        <a href="/jfrog/release.html">Release Notes</a>
      </li>

      <li>
        <a href="/jfrog/resources.html">Resource Requirements</a>
      </li>

    </ul>
  </div>
</div><!--end of sub-nav-->

