<div id="sub-nav" class="js-sidenav nav-container" role="navigation">
  <a class="sidenav-title" data-behavior="SubMenuMobile">
    Using Windows Cells (BETA)
  </a>
  <div class="nav-content">
    <ul>
      <li>
        <a id='home-nav-link' href="/windows/index.html">Using Windows Cells (BETA)</a>
      </li>

      <li>
        <a href="/windows/understand-windows.html">Understanding Windows Cells</a>
      </li>

      <li>
        <a href="/windows/deploy-windows.html">Deploying the BOSH Release for Windows</a>
      </li>

      <li>
        <a href="/windows/build-stemcell.html">Building a Windows Stemcell</a>
      </li>

      <li>
        <a href="/windows/upgrade-windows.html">Upgrading Windows Cells</a>
      </li>

      <li>
        <a href="/windows/windows-rotate-creds.html">Rotating Credentials in Garden Windows</a>
      </li>

      <li>
        <a href="/windows/windows-troubleshooting.html">Troubleshooting Windows Cells</a>
      </li>

      <li>
        <a href="/windows/push-windows-apps.html">Deploying .NET Apps to Windows Cells</a>
      </li>


    </ul>
  </div>
</div><!--end of sub-nav-->
