
<% if product_info['local_header_title'] == "Push Notification Services" %>
<p class="note warning"><strong>Warning:</strong> Push Notification Services is no longer supported
because it has reached the End of General Support (EOGS) phase as defined by the
<a href="https://pivotal.io/support/lifecycle_policy">Support Lifecycle Policy</a>.
</p>

<% elsif product_info['local_header_title'] == "PCF Dev" %>
<p class="note warning"><strong>Warning:</strong> PCF Dev is no longer supported and no longer being developed. Any use of PCF Dev must be taken at your own risk.</p>

<% end %>