<div class="main-container">
  <link href="https://styleguide.pivotal.io/app.css" type="text/css" rel="stylesheet"/>
  <style>
  .external-link:after {
    content: none;
  }
  .container {
    background-color: #f8f8f8;
  }
  .docs-home-panel  {
    background-color: white;
  }
  </style>
  <div class="main">

    <div class="docs-home-panel box-shadow-1 border-rounded mbxl grid paxl">
      <div class="col">
        <div class="grid">
          <div class="col col-fixed"><img src="images/icon-pcf.png" height="64"></div>
          <div class="col">
            <div class="configure" href="https://docs.pivotal.io/pivotalcf/installing/highlights.html" id="pivotal-cf">
              <div class="prodname">
                <h2>Pivotal Cloud Foundry</h2>
                <p class="type-sm">App development and deployment platform for public and private clouds.</p><br />
                <button class="btn btn-default" type="button" aria-label="Default">
                  <span class="btn-inner-content">
                    <span>VIEW ADD-ONS</span>
                  </span>
                </button>
              </div>
            </div>
          </div>
          <div class="col col-8">
            <h6><a href="../concepts/overview.html">Getting Started with PCF</a></h6>
            <h6><a href="../installing/index.html">PCF Architecture and Installation Guide</a></h6>
            <h6><a href="../opsguide/index.html">PCF Operator Guide</a></h6>
            <h6><a href="../pas/index.html">PAS Administrator Guide</a></h6>
            <h6><a href="../security/index.html">PCF Security Guide</a></h6>
            <h6><a href="../devguide/index.html">PAS Developer Guide</a></h6>
            <h6><a href="http://docs.pivotal.io/tiledev">PCF Tile Developer Guide</a></h6>
          </div>
        </div>
      </div>
    </div>

    <div class="grid">

      <div class="docs-home-panel box-shadow-1 border-rounded col col-8 mbxl">
        <div class="grid">
          <div class="col col-4"><img src="images/icon_gemfire@2x.png" height="64"></div>
          <div class="col">
            <h3>Gemfire/Cloud Cache</h3>
            <h6>In-Memory Data Grid</h6>
            <h6><a href="https://gemfire.docs.pivotal.io/index.html">Gemfire for PCF</a></h6>
            <h6><a href="https://docs.pivotal.io/p-cloud-cache/index.html">Pivotal Cloud Cache for PCF</a></h6>
            <h6><a href="https://gemfire-native.docs.pivotal.io/index.html">Pivotal Gemfire Native Client</a></h6>
            <h6><a href="https://gemfirexd.docs.pivotal.io/index.html">Pivotal Gemfire XD</a></h6>
          </div>
        </div>
      </div>
         
      <div class="docs-home-panel box-shadow-1 border-rounded col col-8 mbxl">
        <div class="grid">
          <div class="col col-4"><img src="images/icon_spring_cloud_services_cf@2x.png" height="64"></div>
          <div class="col">
            <h3>Spring</h3>
            <h6>Cloud-Native Java Development</h6>
            <h6><a href="http://spring.io/docs">Spring</a></h6>
            <h6><a href="https://docs.pivotal.io/spring-cloud-services/common/index.html">Spring Cloud Services for PCF</a></h6>
            <h6><a href="https://docs.pivotal.io/spring-flo/index.html">Pivotal Flo for Spring XD</a></h6>
          </div>
        </div>
      </div>
 
      <div class="docs-home-panel box-shadow-1 border-rounded col col-8 mbxl">
        <div class="grid">
          <div class="col col-4"><img src="images/icon_redis_cf@2x.png" height="64"></div>
          <div class="col">
            <h3>Redis</h3>
            <h6>In-Memory Data Structure Store</h6>
            <h6><a href="https://redis.io/documentation">Redis</a></h6>
            <h6><a href="https://redis.docs.pivotal.io/index.html">Pivotal Redis</a></h6>
            <h6><a href="https://docs.pivotal.io/redis/index.html">Redis for PCF</a></h6>
          </div>
        </div>
      </div>

    </div>

    <div class="grid">

      <div class="docs-home-panel box-shadow-1 border-rounded col col-8 mbxl">
        <div class="grid">
          <div class="col col-4"><img src="images/icon_rabbitmq_cf@2x.png" height="64"></div>
          <div class="col">
            <h3>RabbitMQ</h3>
            <h6>Cloud Message Broker</h6>
            <h6><a href="https://www.rabbitmq.com/documentation.html">RabbitMQ</a></h6>
            <h6><a href="https://rabbitmq.docs.pivotal.io/index.html">Pivotal RabbitMQ</a></h6>
            <h6><a href="https://docs.pivotal.io/rabbitmq-cf/index.html">RabbitMQ for PCF</a></h6>
          </div>
        </div>
      </div>
         
      <div class="docs-home-panel box-shadow-1 border-rounded col col-8 mbxl">
        <div class="grid">
          <div class="col col-4"><img src="images/icon_pivotalHDB.png" height="64"></div>
          <div class="col">
            <h3>Pivotal HDB</h3>
            <h6>Hadoop Native SQL Database</h6>
            <h6><a href="https://hdb.docs.pivotal.io/index.html">Pivotal HDB</a></h6>
          </div>
        </div>
      </div>
 
      <div class="docs-home-panel box-shadow-1 border-rounded col col-8 mbxl">
        <div class="grid">
          <div class="col col-4"><img src="images/icon_gpdb.png" height="64"></div>
          <div class="col">
            <h3>Pivotal Greenplum</h3>
            <h6>Massively Parallel Data Warehouse</h6>
            <h6><a href="https://gpdb.docs.pivotal.io/index.html">Pivotal Greenplum Database</a></h6>
          </div>
        </div>
      </div>

    </div>

    <div class="grid">

      <div class="docs-home-panel box-shadow-1 border-rounded col col-8 mbxl">
        <div class="grid">
          <div class="col col-4"><img src="images/icon_tracker.jpg" height="64"></div>
          <div class="col">
            <h3>Pivotal Tracker</h3>
            <h6>Agile Project Management</h6>
            <h6><a href="https://docs.pivotal.io/tracker-pcf/index.html">Pivotal Tracker for PCF</a></h6>
          </div>
        </div>
      </div>
 
      <div class="docs-home-panel box-shadow-1 border-rounded col col-8 mbxl">
        <div class="grid">
          <div class="col col-4"><img src="images/icon-concourse@2x.png" height="64"></div>
          <div class="col">
            <h3>Concourse</h3>
            <h6>Continuous Integration</h6>
            <h6><a href="http://concourse.ci/introduction.html">Concourse</a></h6>
            <h6><a href="https://docs.pivotal.io/p-concourse/index.html">Concourse for PCF</a></h6>
          </div>
        </div>
      </div>

      <div class="docs-home-panel box-shadow-1 border-rounded col col-8 mbxl">
        <div class="grid">
          <div class="col col-4"><img src="images/icon_tcserver@2x.png" height="64"></div>
          <div class="col">
            <h3>Pivotal tc Server</h3>
            <h6>Tomcat Java Server</h6>
            <h6><a href="https://tcserver.docs.pivotal.io/">Pivotal tc Server</a></h6>
          </div>
        </div>
      </div>
         
    </div>

    <h2>Pivotal Cloud Foundry Add-Ons</h2>

    <div class="grid">
      <div class="col col-8">
        <h3>Data Management</h3>
        <h6>Relational database, key-value stores, in-memory database, and distributed session state.</h6></div>

      <div class="col">
        <div class="grid">

          <div class="col col-12">
            <div class="docs-home-panel box-shadow-1 border-rounded col mbxl">
              <a class="configure" href="#x">
                <div class="grid">
                  <div class="col col-4"><img src="images/icon-pcf.png" height="64"></div>
                  <div class="col">
                    <h5>Contrast Security Service <br />Broker for PCF</h5>
                  </div>
                  <div class="col col-4"><h6 class="type-brand-8 txt-b">PIVOTAL</h6>
                  </div>
                </div>
              </a>
            </div>
            <div class="docs-home-panel box-shadow-1 border-rounded col mbxl">
              <a class="configure" href="#x">
                <div class="grid">
                  <div class="col col-4"><img src="images/icon-pcf.png" height="64"></div>
                  <div class="col">
                    <h5>Pivotal Cloud Cache</h5>
                  </div>
                  <div class="col col-4"><h6 class="type-brand-8">PIVOTAL</h6>
                  </div>
                </div>
              </a>
            </div>
          </div>

          <div class="col col-12">

            <div class="docs-home-panel box-shadow-1 border-rounded col mbxl">
              <a class="configure" href="#x">
                <div class="grid">
                  <div class="col col-4"><img src="images/icon-pcf.png" height="64"></div>
                  <div class="col">
                    <h5>Redis for PCF</h5>
                  </div>
                  <div class="col col-4"><p class="type-brand-8 type-xs">PIVOTAL</p>
                  </div>
                </div>
              </a>
            </div>

            <div class="docs-home-panel box-shadow-1 border-rounded col mbxl">
              <a class="configure" href="#x">
                <div class="grid">
                  <div class="col col-4"><img src="images/icon-pcf.png" height="64"></div>
                  <div class="col">
                    <h5>Aerospike (Beta)</h5>
                  </div>
                  <div class="col col-4"><p class="type-accent-5 type-xs">PARTNER</p>
                  </div>
                </div>
              </a>
            </div>

          </div>
        </div>
      </div>
    </div>


  </div>
</div>
